.sectionScreen {
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(80, 10, 15);
    height: 100vh;
}

.sectionScreen_headerImage{
}

.sectionScreen_content{
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.sectionScreen_addSectionButton{
    position: relative;
    left: 2rem;
    top: 2rem;
}
